/*NAV*/

nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #16261F;
}

nav img {
    width: 200px;
}

.link {
    display: flex;
    gap: 20px;
    padding: 30px;
    align-items: center;
    color: #16261F;
}

.link button {
    border: #0b1611;
    color: #F8F9F8;
    background-color: #0b1611;
    padding: 15px;
}

.link a {
    text-decoration: none;
    color: #345C4A;
}


/* HEADER   */

header {

    margin-bottom: 200px;
    /*despues sacar es para ver la lista del catalogo*/
}







/* BUSCARDDOR*/

.buscador {
    display: flex;
    background-color: #F7F5F0;
    padding: 30px;
    color: #818B84;

}


.columnas-buscador1 {

    display: flex;
}


.buscador input {

    padding: 5px;
    width: 300px;
}


.categoria {

    gap: 8px;
    align-items: start;
    flex-direction: column;
}

.ordenar {
    gap: 8px;
    align-items: start;
    flex-direction: column;
}


.btn {
    margin-left: 40px; 
}




/* CONTENEDOR CARTAS */


.contenedor-cards {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

}


.card {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}




/* PAGINAS  */


.paginas {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #345C4A;
}

.paginas button {
    background-color: white;
    padding: 10px;
    margin: 6px;
    border: #345C4A solid 1px;
    color: #345C4A;
}

.paginas p {

    margin-left: 10px;
    color: #345C4A;
}










/* FOOTER */


.pie-pagina {
    background-color: #0b1611;
    color: #8fa095;
    font-family: sans-serif;
    padding: 40px 60px 20px 60px;
}


.footer-columnas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}


.columna {
    flex: 1;
}


.columna h4 {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}


.columna p {
    font-size: 13px;
    margin: 6px 0;
}


.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}


.footer-nav a {
    color: #8fa095;
    text-decoration: none;
    font-size: 13px;

}



.footer-barra {
    border-top: 1px solid #1a2921;
    padding-top: 20px;
}

.footer-barra p {
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
}