

/*NAV*/

nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 200px;
}

.link {
    display: flex;
    gap: 20px;
    padding: 30px;
    align-items: center;
    color: #16261F;
}

.link button {
    border: #0b1611;
    color: #F8F9F8;
    background-color: #0b1611;
    padding: 15px;
}

.link a {
    text-decoration: none;
    color: #345C4A;
}

























/* FOOTER */


.pie-pagina {
    background-color: #0b1611; 
    color: #8fa095; 
    font-family: sans-serif;
    padding: 40px 60px 20px 60px;
}


.footer-columnas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px; 
}


.columna {
    flex: 1;
}


.columna h4 {
    color: #ffffff; 
    font-size: 14px;
    letter-spacing: 2px; 
    margin-bottom: 15px;
}


.columna p {
    font-size: 13px;
    margin: 6px 0;
}


.footer-nav {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    align-items: start;
}


.footer-nav a {
    color: #8fa095;
    text-decoration: none;
    font-size: 13px;

}



.footer-barra {
    border-top: 1px solid #1a2921;
    padding-top: 20px;
}

.footer-barra p {
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
}
